/.history
/.history/*
/.idea/phpunit.xml
/.idea
/.idea/*
/.idea/phpunit.xml`
/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
src/lib/config.js
vite.config.js


run/var
phpMyAdmin-5.2.1-all-languages/tmp/twig

api_/config/config.php
api_/config/configTest.php
wp-config.php
wp-config.php
.env
dist/*
/images
/images/*
/nbproject/private/
